body{
    background: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.btn{
    background: rgb(192, 205, 255);
    margin: 20px;
}

.add-btn{
    background: lightblue;
    width: 40px;
    height: 40px;
}
.app-title{
    text-align: center;
    color: rgb(7, 12, 14);
    font-size: 70px;
}
.container{
    border: 5px solid rgb(10, 6, 6);
    border-radius: 25px;

}
